#tabs--1 .tabs {
  display: flex;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    #tabs--1 .tabs {
      flex-direction: column; } }
  @media only screen and (min-width: 1024px) {
    #tabs--1 .tabs {
      flex-direction: row; } }
  #tabs--1 .tabs > input[type='radio'] {
    position: absolute;
    left: 0;
    opacity: 0;
    top: 0; }
    #tabs--1 .tabs > input[type='radio']:checked ~ .tabs__items .tabs__item {
      display: none;
      opacity: 0;
      transition: opacity 1s;
      -webkit-transition: opacity 1s; }
    #tabs--1 .tabs > input[type='radio']:checked ~ .tabs__lists .tabs--slider {
      right: 0; }
      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #tabs--1 .tabs > input[type='radio']:checked ~ .tabs__lists .tabs--slider {
          right: 0; } }
      @media only screen and (min-width: 1024px) {
        #tabs--1 .tabs > input[type='radio']:checked ~ .tabs__lists .tabs--slider {
          left: 0; } }
    #tabs--1 .tabs > input[type='radio'] ~ .tabs__lists .tabs--slider {
      display: none; }
    #tabs--1 .tabs > input[type='radio']:nth-child(1):checked ~ .tabs__items .tabs__item:nth-child(1) {
      display: block;
      opacity: 1; }
    #tabs--1 .tabs > input[type='radio']:nth-child(1):checked ~ .tabs__lists > .tabs__lists__wrapper .tabs__lists__container label:nth-child(1) {
      background-color: #eee;
      color: #344647;
      cursor: default;
      font-weight: 600;
      pointer-events: none; }
    #tabs--1 .tabs > input[type='radio']:nth-child(1):checked ~ .tabs__lists .tabs--slider {
      left: calc((100% / 1) * 0); }
      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #tabs--1 .tabs > input[type='radio']:nth-child(1):checked ~ .tabs__lists .tabs--slider {
          left: calc((100% / 1) * 0); } }
      @media only screen and (min-width: 1024px) {
        #tabs--1 .tabs > input[type='radio']:nth-child(1):checked ~ .tabs__lists .tabs--slider {
          left: auto;
          top: calc((100% / 1) * 0); } }
  #tabs--1 .tabs--slider {
    background: #344647;
    bottom: 0;
    height: 2.5px;
    left: 0;
    position: absolute;
    width: calc((100% / 12) * (12 / 1));
    top: auto;
    transition: left 0.3s ease-out; }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      #tabs--1 .tabs--slider {
        bottom: 0;
        height: 2.5px;
        left: 0;
        position: absolute;
        width: calc((100% / 12) * (12 / 1));
        top: auto;
        transition: left 0.3s ease-out; } }
    @media only screen and (min-width: 1024px) {
      #tabs--1 .tabs--slider {
        left: auto;
        height: 60px;
        position: absolute;
        right: 0;
        top: 0;
        transition: top 0.3s ease-out;
        width: 2px; } }
  #tabs--1 .tabs__lists {
    align-items: flex-start;
    display: flex;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%; }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      #tabs--1 .tabs__lists {
        width: 100%; } }
    @media only screen and (min-width: 1024px) {
      #tabs--1 .tabs__lists {
        width: 25%; } }
    #tabs--1 .tabs__lists__wrapper {
      overflow-x: auto;
      width: 100%; }
    #tabs--1 .tabs__lists__container {
      align-items: flex-start;
      display: flex;
      flex-direction: row; }
      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #tabs--1 .tabs__lists__container {
          flex-direction: row; } }
      @media only screen and (min-width: 1024px) {
        #tabs--1 .tabs__lists__container {
          flex-direction: column; } }
    #tabs--1 .tabs__lists__list {
      align-items: center;
      background-color: #fff;
      border-bottom: 1px solid #e6ebe9;
      color: #77898a;
      cursor: pointer;
      display: flex;
      font-size: 14px;
      height: 50px;
      justify-content: center;
      position: relative;
      text-align: center;
      height: 60px;
      text-transform: uppercase;
      transition: opacity 1s;
      -webkit-transition: opacity 1s;
      width: 100%; }
  #tabs--1 .tabs__items {
    background-color: #fff;
    box-sizing: border-box;
    padding: 24px 0;
    position: relative;
    width: 100%; }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      #tabs--1 .tabs__items {
        padding: 24px 16px;
        width: 100%; } }
    @media only screen and (min-width: 1024px) {
      #tabs--1 .tabs__items {
        padding: 24px 16px;
        width: 74%; } }
  #tabs--1 .tabs__item {
    position: relative; }
    #tabs--1 .tabs__item article {
      margin: auto;
      width: 98%; }
    #tabs--1 .tabs__item input[type="radio"] {
      display: none; }
      #tabs--1 .tabs__item input[type="radio"] + label {
        display: inline-block;
        border: 2px solid #777;
        background: none;
        border-radius: 4px;
        color: #777;
        cursor: pointer;
        font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1px;
        margin-bottom: 8px;
        margin-right: 12px;
        max-width: 75px;
        outline: none;
        padding: 4px 8px;
        position: relative;
        text-transform: uppercase;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        text-align: center;
        transition: all 0.3s;
        width: 100%; }
        #tabs--1 .tabs__item input[type="radio"] + label:after {
          content: '';
          position: absolute;
          z-index: -1;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
          width: 0%;
          height: 100%;
          top: 0;
          left: 0;
          background: rgba(0, 209, 183, 0.5);
          z-index: 1; }
        #tabs--1 .tabs__item input[type="radio"] + label:hover, #tabs--1 .tabs__item input[type="radio"] + label:active {
          border-color: #000;
          color: #000; }
          #tabs--1 .tabs__item input[type="radio"] + label:hover:after, #tabs--1 .tabs__item input[type="radio"] + label:active:after {
            width: 100%; }
      #tabs--1 .tabs__item input[type="radio"]:checked + label {
        background: #00d1dc;
        border-color: #00a699;
        color: #fff; }
      #tabs--1 .tabs__item input[type="radio"].sizeReset:checked ~ .gallery {
        height: 340vw; }
        @media only screen and (min-width: 768px) and (max-width: 1023px) {
          #tabs--1 .tabs__item input[type="radio"].sizeReset:checked ~ .gallery {
            height: 282vw; } }
        @media only screen and (min-width: 1024px) {
          #tabs--1 .tabs__item input[type="radio"].sizeReset:checked ~ .gallery {
            height: 100vw; } }
        #tabs--1 .tabs__item input[type="radio"].sizeReset:checked ~ .gallery .gallery__item {
          width: 49%; }
          @media only screen and (min-width: 768px) and (max-width: 1023px) {
            #tabs--1 .tabs__item input[type="radio"].sizeReset:checked ~ .gallery .gallery__item {
              width: 50%; } }
          @media only screen and (min-width: 1024px) {
            #tabs--1 .tabs__item input[type="radio"].sizeReset:checked ~ .gallery .gallery__item {
              width: 32.5%; } }
      #tabs--1 .tabs__item input[type="radio"].sizeIncrease50:checked ~ .gallery {
        height: 90vw; }
        @media only screen and (min-width: 768px) and (max-width: 1023px) {
          #tabs--1 .tabs__item input[type="radio"].sizeIncrease50:checked ~ .gallery {
            height: 52vw; } }
        @media only screen and (min-width: 1024px) {
          #tabs--1 .tabs__item input[type="radio"].sizeIncrease50:checked ~ .gallery {
            height: 36vw; } }
        #tabs--1 .tabs__item input[type="radio"].sizeIncrease50:checked ~ .gallery .gallery__item {
          width: 18%; }
          @media only screen and (min-width: 768px) and (max-width: 1023px) {
            #tabs--1 .tabs__item input[type="radio"].sizeIncrease50:checked ~ .gallery .gallery__item {
              width: 18%; } }
          @media only screen and (min-width: 1024px) {
            #tabs--1 .tabs__item input[type="radio"].sizeIncrease50:checked ~ .gallery .gallery__item {
              width: 15%; } }
      #tabs--1 .tabs__item input[type="radio"].sizeIncrease75:checked ~ .gallery {
        height: 185vw; }
        @media only screen and (min-width: 768px) and (max-width: 1023px) {
          #tabs--1 .tabs__item input[type="radio"].sizeIncrease75:checked ~ .gallery {
            height: 125vw; } }
        @media only screen and (min-width: 1024px) {
          #tabs--1 .tabs__item input[type="radio"].sizeIncrease75:checked ~ .gallery {
            height: 62vw; } }
        #tabs--1 .tabs__item input[type="radio"].sizeIncrease75:checked ~ .gallery .gallery__item {
          width: 31%; }
          @media only screen and (min-width: 768px) and (max-width: 1023px) {
            #tabs--1 .tabs__item input[type="radio"].sizeIncrease75:checked ~ .gallery .gallery__item {
              width: 33%; } }
          @media only screen and (min-width: 1024px) {
            #tabs--1 .tabs__item input[type="radio"].sizeIncrease75:checked ~ .gallery .gallery__item {
              width: 24%; } }
      #tabs--1 .tabs__item input[type="radio"].sizeIncrease125:checked ~ .gallery {
        height: auto; }
        @media only screen and (min-width: 768px) and (max-width: 1023px) {
          #tabs--1 .tabs__item input[type="radio"].sizeIncrease125:checked ~ .gallery {
            height: auto; } }
        @media only screen and (min-width: 1024px) {
          #tabs--1 .tabs__item input[type="radio"].sizeIncrease125:checked ~ .gallery {
            height: 220vw; } }
        #tabs--1 .tabs__item input[type="radio"].sizeIncrease125:checked ~ .gallery .gallery__item {
          width: 100%; }
          @media only screen and (min-width: 768px) and (max-width: 1023px) {
            #tabs--1 .tabs__item input[type="radio"].sizeIncrease125:checked ~ .gallery .gallery__item {
              width: 100%; } }
          @media only screen and (min-width: 1024px) {
            #tabs--1 .tabs__item input[type="radio"].sizeIncrease125:checked ~ .gallery .gallery__item {
              width: 50%; } }

#tabs--2 .tabs {
  display: flex;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    #tabs--2 .tabs {
      flex-direction: column; } }
  @media only screen and (min-width: 1024px) {
    #tabs--2 .tabs {
      flex-direction: row; } }
  #tabs--2 .tabs > input[type='radio'] {
    position: absolute;
    left: 0;
    opacity: 0;
    top: 0; }
    #tabs--2 .tabs > input[type='radio']:checked ~ .tabs__items .tabs__item {
      display: none;
      opacity: 0;
      transition: opacity 1s;
      -webkit-transition: opacity 1s; }
    #tabs--2 .tabs > input[type='radio']:checked ~ .tabs__lists .tabs--slider {
      right: 0; }
      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #tabs--2 .tabs > input[type='radio']:checked ~ .tabs__lists .tabs--slider {
          right: 0; } }
      @media only screen and (min-width: 1024px) {
        #tabs--2 .tabs > input[type='radio']:checked ~ .tabs__lists .tabs--slider {
          left: 0; } }
    #tabs--2 .tabs > input[type='radio']:nth-child(1):checked ~ .tabs__items .tabs__item:nth-child(1) {
      display: block;
      opacity: 1; }
    #tabs--2 .tabs > input[type='radio']:nth-child(1):checked ~ .tabs__lists > .tabs__lists__wrapper .tabs__lists__container label:nth-child(1) {
      background-color: #eee;
      color: #344647;
      cursor: default;
      font-weight: 600;
      pointer-events: none; }
    #tabs--2 .tabs > input[type='radio']:nth-child(1):checked ~ .tabs__lists .tabs--slider {
      left: calc((100% / 2) * 0); }
      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #tabs--2 .tabs > input[type='radio']:nth-child(1):checked ~ .tabs__lists .tabs--slider {
          left: calc((100% / 2) * 0); } }
      @media only screen and (min-width: 1024px) {
        #tabs--2 .tabs > input[type='radio']:nth-child(1):checked ~ .tabs__lists .tabs--slider {
          left: auto;
          top: calc((100% / 2) * 0); } }
    #tabs--2 .tabs > input[type='radio']:nth-child(2):checked ~ .tabs__items .tabs__item:nth-child(2) {
      display: block;
      opacity: 1; }
    #tabs--2 .tabs > input[type='radio']:nth-child(2):checked ~ .tabs__lists > .tabs__lists__wrapper .tabs__lists__container label:nth-child(2) {
      background-color: #eee;
      color: #344647;
      cursor: default;
      font-weight: 600;
      pointer-events: none; }
    #tabs--2 .tabs > input[type='radio']:nth-child(2):checked ~ .tabs__lists .tabs--slider {
      left: calc((100% / 2) * 1); }
      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #tabs--2 .tabs > input[type='radio']:nth-child(2):checked ~ .tabs__lists .tabs--slider {
          left: calc((100% / 2) * 1); } }
      @media only screen and (min-width: 1024px) {
        #tabs--2 .tabs > input[type='radio']:nth-child(2):checked ~ .tabs__lists .tabs--slider {
          left: auto;
          top: calc((100% / 2) * 1); } }
  #tabs--2 .tabs--slider {
    background: #344647;
    bottom: 0;
    height: 2.5px;
    left: 0;
    position: absolute;
    width: calc((100% / 12) * (12 / 2));
    top: auto;
    transition: left 0.3s ease-out; }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      #tabs--2 .tabs--slider {
        bottom: 0;
        height: 2.5px;
        left: 0;
        position: absolute;
        width: calc((100% / 12) * (12 / 2));
        top: auto;
        transition: left 0.3s ease-out; } }
    @media only screen and (min-width: 1024px) {
      #tabs--2 .tabs--slider {
        left: auto;
        height: 60px;
        position: absolute;
        right: 0;
        top: 0;
        transition: top 0.3s ease-out;
        width: 2px; } }
  #tabs--2 .tabs__lists {
    align-items: flex-start;
    display: flex;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%; }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      #tabs--2 .tabs__lists {
        width: 100%; } }
    @media only screen and (min-width: 1024px) {
      #tabs--2 .tabs__lists {
        width: 25%; } }
    #tabs--2 .tabs__lists__wrapper {
      overflow-x: auto;
      width: 100%; }
    #tabs--2 .tabs__lists__container {
      align-items: flex-start;
      display: flex;
      flex-direction: row; }
      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #tabs--2 .tabs__lists__container {
          flex-direction: row; } }
      @media only screen and (min-width: 1024px) {
        #tabs--2 .tabs__lists__container {
          flex-direction: column; } }
    #tabs--2 .tabs__lists__list {
      align-items: center;
      background-color: #fff;
      border-bottom: 1px solid #e6ebe9;
      color: #77898a;
      cursor: pointer;
      display: flex;
      font-size: 14px;
      height: 50px;
      justify-content: center;
      position: relative;
      text-align: center;
      height: 60px;
      text-transform: uppercase;
      transition: opacity 1s;
      -webkit-transition: opacity 1s;
      width: 100%; }
  #tabs--2 .tabs__items {
    background-color: #fff;
    box-sizing: border-box;
    padding: 24px 0;
    position: relative;
    width: 100%; }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      #tabs--2 .tabs__items {
        padding: 24px 16px;
        width: 100%; } }
    @media only screen and (min-width: 1024px) {
      #tabs--2 .tabs__items {
        padding: 24px 16px;
        width: 74%; } }
  #tabs--2 .tabs__item {
    position: relative; }
    #tabs--2 .tabs__item article {
      margin: auto;
      width: 98%; }
    #tabs--2 .tabs__item input[type="radio"] {
      display: none; }
      #tabs--2 .tabs__item input[type="radio"] + label {
        display: inline-block;
        border: 2px solid #777;
        background: none;
        border-radius: 4px;
        color: #777;
        cursor: pointer;
        font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1px;
        margin-bottom: 8px;
        margin-right: 12px;
        max-width: 75px;
        outline: none;
        padding: 4px 8px;
        position: relative;
        text-transform: uppercase;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        text-align: center;
        transition: all 0.3s;
        width: 100%; }
        #tabs--2 .tabs__item input[type="radio"] + label:after {
          content: '';
          position: absolute;
          z-index: -1;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
          width: 0%;
          height: 100%;
          top: 0;
          left: 0;
          background: rgba(0, 209, 183, 0.5);
          z-index: 1; }
        #tabs--2 .tabs__item input[type="radio"] + label:hover, #tabs--2 .tabs__item input[type="radio"] + label:active {
          border-color: #000;
          color: #000; }
          #tabs--2 .tabs__item input[type="radio"] + label:hover:after, #tabs--2 .tabs__item input[type="radio"] + label:active:after {
            width: 100%; }
      #tabs--2 .tabs__item input[type="radio"]:checked + label {
        background: #00d1dc;
        border-color: #00a699;
        color: #fff; }
      #tabs--2 .tabs__item input[type="radio"].sizeReset:checked ~ .gallery {
        height: 340vw; }
        @media only screen and (min-width: 768px) and (max-width: 1023px) {
          #tabs--2 .tabs__item input[type="radio"].sizeReset:checked ~ .gallery {
            height: 282vw; } }
        @media only screen and (min-width: 1024px) {
          #tabs--2 .tabs__item input[type="radio"].sizeReset:checked ~ .gallery {
            height: 100vw; } }
        #tabs--2 .tabs__item input[type="radio"].sizeReset:checked ~ .gallery .gallery__item {
          width: 49%; }
          @media only screen and (min-width: 768px) and (max-width: 1023px) {
            #tabs--2 .tabs__item input[type="radio"].sizeReset:checked ~ .gallery .gallery__item {
              width: 50%; } }
          @media only screen and (min-width: 1024px) {
            #tabs--2 .tabs__item input[type="radio"].sizeReset:checked ~ .gallery .gallery__item {
              width: 32.5%; } }
      #tabs--2 .tabs__item input[type="radio"].sizeIncrease50:checked ~ .gallery {
        height: 90vw; }
        @media only screen and (min-width: 768px) and (max-width: 1023px) {
          #tabs--2 .tabs__item input[type="radio"].sizeIncrease50:checked ~ .gallery {
            height: 52vw; } }
        @media only screen and (min-width: 1024px) {
          #tabs--2 .tabs__item input[type="radio"].sizeIncrease50:checked ~ .gallery {
            height: 36vw; } }
        #tabs--2 .tabs__item input[type="radio"].sizeIncrease50:checked ~ .gallery .gallery__item {
          width: 18%; }
          @media only screen and (min-width: 768px) and (max-width: 1023px) {
            #tabs--2 .tabs__item input[type="radio"].sizeIncrease50:checked ~ .gallery .gallery__item {
              width: 18%; } }
          @media only screen and (min-width: 1024px) {
            #tabs--2 .tabs__item input[type="radio"].sizeIncrease50:checked ~ .gallery .gallery__item {
              width: 15%; } }
      #tabs--2 .tabs__item input[type="radio"].sizeIncrease75:checked ~ .gallery {
        height: 185vw; }
        @media only screen and (min-width: 768px) and (max-width: 1023px) {
          #tabs--2 .tabs__item input[type="radio"].sizeIncrease75:checked ~ .gallery {
            height: 125vw; } }
        @media only screen and (min-width: 1024px) {
          #tabs--2 .tabs__item input[type="radio"].sizeIncrease75:checked ~ .gallery {
            height: 62vw; } }
        #tabs--2 .tabs__item input[type="radio"].sizeIncrease75:checked ~ .gallery .gallery__item {
          width: 31%; }
          @media only screen and (min-width: 768px) and (max-width: 1023px) {
            #tabs--2 .tabs__item input[type="radio"].sizeIncrease75:checked ~ .gallery .gallery__item {
              width: 33%; } }
          @media only screen and (min-width: 1024px) {
            #tabs--2 .tabs__item input[type="radio"].sizeIncrease75:checked ~ .gallery .gallery__item {
              width: 24%; } }
      #tabs--2 .tabs__item input[type="radio"].sizeIncrease125:checked ~ .gallery {
        height: auto; }
        @media only screen and (min-width: 768px) and (max-width: 1023px) {
          #tabs--2 .tabs__item input[type="radio"].sizeIncrease125:checked ~ .gallery {
            height: auto; } }
        @media only screen and (min-width: 1024px) {
          #tabs--2 .tabs__item input[type="radio"].sizeIncrease125:checked ~ .gallery {
            height: 220vw; } }
        #tabs--2 .tabs__item input[type="radio"].sizeIncrease125:checked ~ .gallery .gallery__item {
          width: 100%; }
          @media only screen and (min-width: 768px) and (max-width: 1023px) {
            #tabs--2 .tabs__item input[type="radio"].sizeIncrease125:checked ~ .gallery .gallery__item {
              width: 100%; } }
          @media only screen and (min-width: 1024px) {
            #tabs--2 .tabs__item input[type="radio"].sizeIncrease125:checked ~ .gallery .gallery__item {
              width: 50%; } }

#tabs--3 .tabs {
  display: flex;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    #tabs--3 .tabs {
      flex-direction: column; } }
  @media only screen and (min-width: 1024px) {
    #tabs--3 .tabs {
      flex-direction: row; } }
  #tabs--3 .tabs > input[type='radio'] {
    position: absolute;
    left: 0;
    opacity: 0;
    top: 0; }
    #tabs--3 .tabs > input[type='radio']:checked ~ .tabs__items .tabs__item {
      display: none;
      opacity: 0;
      transition: opacity 1s;
      -webkit-transition: opacity 1s; }
    #tabs--3 .tabs > input[type='radio']:checked ~ .tabs__lists .tabs--slider {
      right: 0; }
      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #tabs--3 .tabs > input[type='radio']:checked ~ .tabs__lists .tabs--slider {
          right: 0; } }
      @media only screen and (min-width: 1024px) {
        #tabs--3 .tabs > input[type='radio']:checked ~ .tabs__lists .tabs--slider {
          left: 0; } }
    #tabs--3 .tabs > input[type='radio']:nth-child(1):checked ~ .tabs__items .tabs__item:nth-child(1) {
      display: block;
      opacity: 1; }
    #tabs--3 .tabs > input[type='radio']:nth-child(1):checked ~ .tabs__lists > .tabs__lists__wrapper .tabs__lists__container label:nth-child(1) {
      background-color: #eee;
      color: #344647;
      cursor: default;
      font-weight: 600;
      pointer-events: none; }
    #tabs--3 .tabs > input[type='radio']:nth-child(1):checked ~ .tabs__lists .tabs--slider {
      left: calc((100% / 3) * 0); }
      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #tabs--3 .tabs > input[type='radio']:nth-child(1):checked ~ .tabs__lists .tabs--slider {
          left: calc((100% / 3) * 0); } }
      @media only screen and (min-width: 1024px) {
        #tabs--3 .tabs > input[type='radio']:nth-child(1):checked ~ .tabs__lists .tabs--slider {
          left: auto;
          top: calc((100% / 3) * 0); } }
    #tabs--3 .tabs > input[type='radio']:nth-child(2):checked ~ .tabs__items .tabs__item:nth-child(2) {
      display: block;
      opacity: 1; }
    #tabs--3 .tabs > input[type='radio']:nth-child(2):checked ~ .tabs__lists > .tabs__lists__wrapper .tabs__lists__container label:nth-child(2) {
      background-color: #eee;
      color: #344647;
      cursor: default;
      font-weight: 600;
      pointer-events: none; }
    #tabs--3 .tabs > input[type='radio']:nth-child(2):checked ~ .tabs__lists .tabs--slider {
      left: calc((100% / 3) * 1); }
      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #tabs--3 .tabs > input[type='radio']:nth-child(2):checked ~ .tabs__lists .tabs--slider {
          left: calc((100% / 3) * 1); } }
      @media only screen and (min-width: 1024px) {
        #tabs--3 .tabs > input[type='radio']:nth-child(2):checked ~ .tabs__lists .tabs--slider {
          left: auto;
          top: calc((100% / 3) * 1); } }
    #tabs--3 .tabs > input[type='radio']:nth-child(3):checked ~ .tabs__items .tabs__item:nth-child(3) {
      display: block;
      opacity: 1; }
    #tabs--3 .tabs > input[type='radio']:nth-child(3):checked ~ .tabs__lists > .tabs__lists__wrapper .tabs__lists__container label:nth-child(3) {
      background-color: #eee;
      color: #344647;
      cursor: default;
      font-weight: 600;
      pointer-events: none; }
    #tabs--3 .tabs > input[type='radio']:nth-child(3):checked ~ .tabs__lists .tabs--slider {
      left: calc((100% / 3) * 2); }
      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #tabs--3 .tabs > input[type='radio']:nth-child(3):checked ~ .tabs__lists .tabs--slider {
          left: calc((100% / 3) * 2); } }
      @media only screen and (min-width: 1024px) {
        #tabs--3 .tabs > input[type='radio']:nth-child(3):checked ~ .tabs__lists .tabs--slider {
          left: auto;
          top: calc((100% / 3) * 2); } }
  #tabs--3 .tabs--slider {
    background: #344647;
    bottom: 0;
    height: 2.5px;
    left: 0;
    position: absolute;
    width: calc((100% / 12) * (12 / 3));
    top: auto;
    transition: left 0.3s ease-out; }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      #tabs--3 .tabs--slider {
        bottom: 0;
        height: 2.5px;
        left: 0;
        position: absolute;
        width: calc((100% / 12) * (12 / 3));
        top: auto;
        transition: left 0.3s ease-out; } }
    @media only screen and (min-width: 1024px) {
      #tabs--3 .tabs--slider {
        left: auto;
        height: 60px;
        position: absolute;
        right: 0;
        top: 0;
        transition: top 0.3s ease-out;
        width: 2px; } }
  #tabs--3 .tabs__lists {
    align-items: flex-start;
    display: flex;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%; }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      #tabs--3 .tabs__lists {
        width: 100%; } }
    @media only screen and (min-width: 1024px) {
      #tabs--3 .tabs__lists {
        width: 25%; } }
    #tabs--3 .tabs__lists__wrapper {
      overflow-x: auto;
      width: 100%; }
    #tabs--3 .tabs__lists__container {
      align-items: flex-start;
      display: flex;
      flex-direction: row; }
      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #tabs--3 .tabs__lists__container {
          flex-direction: row; } }
      @media only screen and (min-width: 1024px) {
        #tabs--3 .tabs__lists__container {
          flex-direction: column; } }
    #tabs--3 .tabs__lists__list {
      align-items: center;
      background-color: #fff;
      border-bottom: 1px solid #e6ebe9;
      color: #77898a;
      cursor: pointer;
      display: flex;
      font-size: 14px;
      height: 50px;
      justify-content: center;
      position: relative;
      text-align: center;
      height: 60px;
      text-transform: uppercase;
      transition: opacity 1s;
      -webkit-transition: opacity 1s;
      width: 100%; }
  #tabs--3 .tabs__items {
    background-color: #fff;
    box-sizing: border-box;
    padding: 24px 0;
    position: relative;
    width: 100%; }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      #tabs--3 .tabs__items {
        padding: 24px 16px;
        width: 100%; } }
    @media only screen and (min-width: 1024px) {
      #tabs--3 .tabs__items {
        padding: 24px 16px;
        width: 74%; } }
  #tabs--3 .tabs__item {
    position: relative; }
    #tabs--3 .tabs__item article {
      margin: auto;
      width: 98%; }
    #tabs--3 .tabs__item input[type="radio"] {
      display: none; }
      #tabs--3 .tabs__item input[type="radio"] + label {
        display: inline-block;
        border: 2px solid #777;
        background: none;
        border-radius: 4px;
        color: #777;
        cursor: pointer;
        font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1px;
        margin-bottom: 8px;
        margin-right: 12px;
        max-width: 75px;
        outline: none;
        padding: 4px 8px;
        position: relative;
        text-transform: uppercase;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        text-align: center;
        transition: all 0.3s;
        width: 100%; }
        #tabs--3 .tabs__item input[type="radio"] + label:after {
          content: '';
          position: absolute;
          z-index: -1;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
          width: 0%;
          height: 100%;
          top: 0;
          left: 0;
          background: rgba(0, 209, 183, 0.5);
          z-index: 1; }
        #tabs--3 .tabs__item input[type="radio"] + label:hover, #tabs--3 .tabs__item input[type="radio"] + label:active {
          border-color: #000;
          color: #000; }
          #tabs--3 .tabs__item input[type="radio"] + label:hover:after, #tabs--3 .tabs__item input[type="radio"] + label:active:after {
            width: 100%; }
      #tabs--3 .tabs__item input[type="radio"]:checked + label {
        background: #00d1dc;
        border-color: #00a699;
        color: #fff; }
      #tabs--3 .tabs__item input[type="radio"].sizeReset:checked ~ .gallery {
        height: 340vw; }
        @media only screen and (min-width: 768px) and (max-width: 1023px) {
          #tabs--3 .tabs__item input[type="radio"].sizeReset:checked ~ .gallery {
            height: 282vw; } }
        @media only screen and (min-width: 1024px) {
          #tabs--3 .tabs__item input[type="radio"].sizeReset:checked ~ .gallery {
            height: 100vw; } }
        #tabs--3 .tabs__item input[type="radio"].sizeReset:checked ~ .gallery .gallery__item {
          width: 49%; }
          @media only screen and (min-width: 768px) and (max-width: 1023px) {
            #tabs--3 .tabs__item input[type="radio"].sizeReset:checked ~ .gallery .gallery__item {
              width: 50%; } }
          @media only screen and (min-width: 1024px) {
            #tabs--3 .tabs__item input[type="radio"].sizeReset:checked ~ .gallery .gallery__item {
              width: 32.5%; } }
      #tabs--3 .tabs__item input[type="radio"].sizeIncrease50:checked ~ .gallery {
        height: 90vw; }
        @media only screen and (min-width: 768px) and (max-width: 1023px) {
          #tabs--3 .tabs__item input[type="radio"].sizeIncrease50:checked ~ .gallery {
            height: 52vw; } }
        @media only screen and (min-width: 1024px) {
          #tabs--3 .tabs__item input[type="radio"].sizeIncrease50:checked ~ .gallery {
            height: 36vw; } }
        #tabs--3 .tabs__item input[type="radio"].sizeIncrease50:checked ~ .gallery .gallery__item {
          width: 18%; }
          @media only screen and (min-width: 768px) and (max-width: 1023px) {
            #tabs--3 .tabs__item input[type="radio"].sizeIncrease50:checked ~ .gallery .gallery__item {
              width: 18%; } }
          @media only screen and (min-width: 1024px) {
            #tabs--3 .tabs__item input[type="radio"].sizeIncrease50:checked ~ .gallery .gallery__item {
              width: 15%; } }
      #tabs--3 .tabs__item input[type="radio"].sizeIncrease75:checked ~ .gallery {
        height: 185vw; }
        @media only screen and (min-width: 768px) and (max-width: 1023px) {
          #tabs--3 .tabs__item input[type="radio"].sizeIncrease75:checked ~ .gallery {
            height: 125vw; } }
        @media only screen and (min-width: 1024px) {
          #tabs--3 .tabs__item input[type="radio"].sizeIncrease75:checked ~ .gallery {
            height: 62vw; } }
        #tabs--3 .tabs__item input[type="radio"].sizeIncrease75:checked ~ .gallery .gallery__item {
          width: 31%; }
          @media only screen and (min-width: 768px) and (max-width: 1023px) {
            #tabs--3 .tabs__item input[type="radio"].sizeIncrease75:checked ~ .gallery .gallery__item {
              width: 33%; } }
          @media only screen and (min-width: 1024px) {
            #tabs--3 .tabs__item input[type="radio"].sizeIncrease75:checked ~ .gallery .gallery__item {
              width: 24%; } }
      #tabs--3 .tabs__item input[type="radio"].sizeIncrease125:checked ~ .gallery {
        height: auto; }
        @media only screen and (min-width: 768px) and (max-width: 1023px) {
          #tabs--3 .tabs__item input[type="radio"].sizeIncrease125:checked ~ .gallery {
            height: auto; } }
        @media only screen and (min-width: 1024px) {
          #tabs--3 .tabs__item input[type="radio"].sizeIncrease125:checked ~ .gallery {
            height: 220vw; } }
        #tabs--3 .tabs__item input[type="radio"].sizeIncrease125:checked ~ .gallery .gallery__item {
          width: 100%; }
          @media only screen and (min-width: 768px) and (max-width: 1023px) {
            #tabs--3 .tabs__item input[type="radio"].sizeIncrease125:checked ~ .gallery .gallery__item {
              width: 100%; } }
          @media only screen and (min-width: 1024px) {
            #tabs--3 .tabs__item input[type="radio"].sizeIncrease125:checked ~ .gallery .gallery__item {
              width: 50%; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  font-size: 62.5%; }

.gallery {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 340vw;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-flex-direction: column;
  -webkit-flex-wrap: wrap; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .gallery {
      height: 282vw; } }
  @media only screen and (min-width: 1024px) {
    .gallery {
      height: 100vw; } }
  .gallery:hover img {
    opacity: 0.28; }
  .gallery__item {
    box-sizing: border-box;
    margin-bottom: 8px;
    margin-right: 8px;
    position: relative;
    width: 49%; }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .gallery__item {
        width: 50%; } }
    @media only screen and (min-width: 1024px) {
      .gallery__item {
        width: 32.5%; } }
    .gallery__item img {
      width: 100%;
      display: block;
      transition: all .8s; }
    .gallery__item a {
      box-sizing: border-box;
      height: 100%;
      position: relative;
      text-decoration: none;
      width: 100%; }
      .gallery__item a span {
        background: rgba(0, 0, 0, 0.5);
        box-sizing: border-box;
        color: #fff;
        display: block;
        font-size: 14px;
        padding: 8px;
        width: 100%; }
    .gallery__item:hover img {
      opacity: 1; }

[id^="lightbox-"] {
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  display: none;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  height: 100vh;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  pointer-events: none;
  top: 0;
  width: 100vw;
  transition: opacity 450ms ease-in-out;
  z-index: 9999; }
  [id^="lightbox-"]:target {
    display: flex;
    opacity: 1;
    pointer-events: inherit; }
    [id^="lightbox-"]:target img {
      filter: blur(0); }
  [id^="lightbox-"] .content {
    color: #fff;
    max-width: 75%;
    overflow: hidden;
    padding: 24px;
    position: relative; }
    [id^="lightbox-"] .content > * {
      transition: all 450ms ease-in-out; }
    [id^="lightbox-"] .content figure {
      box-sizing: border-box;
      display: block;
      margin: auto;
      padding: 0;
      position: relative;
      width: 98%; }
      [id^="lightbox-"] .content figure img {
        display: block;
        max-height: 90vh;
        max-width: 100%;
        margin: auto;
        padding: 0; }
      [id^="lightbox-"] .content figure figcaption {
        background: rgba(0, 0, 0, 0.75);
        box-sizing: border-box;
        bottom: 0;
        font-size: 14px;
        padding: 16px;
        position: absolute;
        width: 100%; }
    [id^="lightbox-"] .content .gallery__close {
      background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20x%3D%220%22%20y%3D%220%22%20viewBox%3D%220%200%2032%2032%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M21.7%2010.3c-0.4-0.4-1-0.4-1.4%200l-4.3%204.3-4.2-4.2c-0.4-0.4-1-0.4-1.4%200-0.4%200.4-0.4%201%200%201.4l4.2%204.2-4.3%204.3c-0.4%200.4-0.4%201%200%201.4%200.4%200.4%201%200.4%201.4%200l4.3-4.3%204.2%204.2c0.4%200.4%201%200.4%201.4%200%200.4-0.4%200.4-1%200-1.4l-4.2-4.2%204.3-4.3C22.1%2011.3%2022.1%2010.7%2021.7%2010.3zM16%200C7.2%200%200%207.2%200%2016s7.2%2016%2016%2016c8.8%200%2016-7.2%2016-16S24.8%200%2016%200zM16%2030C8.3%2030%202%2023.7%202%2016S8.3%202%2016%202s14%206.3%2014%2014S23.7%2030%2016%2030z%22%2F%3E%3C%2Fsvg%3E");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;
      font-size: 0;
      height: 24px;
      opacity: 0.5;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity 0.2s;
      width: 24px;
      -webkit-transition: opacity 0.2s; }
    [id^="lightbox-"] .content .gallery__prev,
    [id^="lightbox-"] .content .gallery__next {
      background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2244.1%22%20height%3D%2294.7%22%20viewBox%3D%220%200%2044.1%2094.7%22%20enable-background%3D%22new%200%200%2044.088%2094.67%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M44.1%2047.3L1.5%2094.7%200%2093.3l41.4-46L0%201.3%201.5%200%2044.1%2047.3z%22%2F%3E%3C%2Fsvg%3E");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;
      bottom: 0;
      font-size: 0;
      height: 52px;
      left: auto;
      margin: auto;
      opacity: 0.75;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity 0.2s;
      width: 24px;
      -webkit-transition: opacity 0.2s; }
    [id^="lightbox-"] .content .gallery__prev {
      left: 0;
      right: auto;
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg); }

/*# sourceMappingURL=img_gallery.css.map */
